*.aux
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
*.test
/.vscode
*.tar*
*.class
*.ipynb_checkpoints
*.npz
Java/lab*/dokumentacja
.stfolder
*.zip
*.csv
*.o
*.map
*.elf
*.hex
*.stversions
*.log
*-ubyte
ilsvrc_subsample
*.gz