*.aux
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
*.test
/.vscode
debug/
*.hi
*.tar*
*.class
*.ipynb_checkpoints
*.npz
Java/lab*/dokumentacja
.stfolder
*.zip
*.csv
*.o
*.map
*.elf
*.hex
*.stversions
*.log
*-ubyte
ilsvrc_subsample
*.gz
AI/lab*/zad*/*.txt
.benchmark_result
__pycache__
*.pyc
*_in.txt
*_out.txt
*_input.txt
*_output.txt
/.stversions
*.so
*.ml~
policy_for*.txt
NLP/train data/dict.txt
NLP/train data/task3_train.txt
NLP/train data/3grams
NLP/train data/2grams
Haskell/lab11/stack.yaml.lock
*.cc
*.hist
*.swp
*.lock
*.save
*.swo
*.hist

