*.o ./AISD/other/kopiec
./AISD/themis/main
./AISD/pracownia/2018_A/.git/hooks/post-update.sample
./AISD/pracownia/2018_A/.git/hooks/pre-applypatch.sample
./AISD/pracownia/2018_A/.git/hooks/pre-commit.sample
./AISD/pracownia/2018_A/.git/hooks/pre-receive.sample
./AISD/pracownia/2018_A/.git/hooks/prepare-commit-msg.sample
./AISD/pracownia/2018_A/.git/hooks/pre-rebase.sample
./AISD/pracownia/2018_A/.git/hooks/pre-push.sample
./AISD/pracownia/2018_A/.git/hooks/commit-msg.sample
./AISD/pracownia/2018_A/.git/hooks/update.sample
./AISD/pracownia/2018_A/.git/hooks/applypatch-msg.sample
./AISD/pracownia/2018_A/main
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/post-update.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/pre-applypatch.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/pre-commit.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/pre-receive.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/prepare-commit-msg.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/pre-rebase.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/pre-push.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/commit-msg.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/update.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/.git/hooks/applypatch-msg.sample
./AISD/pracownia/2018_A/AISD2018-TESTY/check
./AISD/pracownia/2018_A/AISD2018-TESTY/program
./.git/hooks/post-update.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-commit.sample
./.git/hooks/pre-receive.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-push.sample
./.git/hooks/commit-msg.sample
./.git/hooks/update.sample
./.git/hooks/applypatch-msg.sample
./SK/pracownia/p1/lukasz_klasinski/traceroute
./SK/pracownia/p1/tests/traceroute
